<!-- projects section -->
<section id="projects">
    <div class="projects container">
      <div class="project-heading">
        <h1 class="section-title">RECENT<span> PROJECTS</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Project 1</h1>
            <h2>Coding is Love</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, et!</p>
          </div>
          <div class="project-img">
            <img src="../../assets/img/project-img2.jpeg" alt="This is project's image">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 2</h1>
            <h2>Coding is Love</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, et!</p>
          </div>
          <div class="project-img">
            <img src="../../assets/img/project-img3.jpeg" alt="This is project's image">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 3</h1>
            <h2>Coding is Love</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, et!</p>
          </div>
          <div class="project-img">
            <img src="../../assets/img/project-img4.jpeg" alt="This is project's image">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 4</h1>
            <h2>Coding is Love</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, et!</p>
          </div>
          <div class="project-img">
            <img src="../../assets/img/project-img5.jpeg" alt="This is project's image">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end projects section -->
